/vendor/
/node_modules/

# Environment & secrets
.env
.env.local
.env.testing

# Test artifacts
.phpunit.result.cache
.phpunit.cache/
/coverage/
/build/

# Code style cache
.php_cs.cache
.php-cs-fixer.cache

# OS artifacts
.DS_Store
Thumbs.db
desktop.ini

# IDEs
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Composer
composer.phar
composer.lock
